*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(193, 232, 232);
}
.row{
    margin-top: 8%;
    background: white;
    border-radius: 30px;
    /* box-shadow: 12px 12px 22px; */
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.img-fluid{
    height: 100%;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}
.verify{
    width: 40%;
}